# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# Virtual environment directories
bin/
include/
lib/
lib64/
share/
pyvenv.cfg

# C extensions
*.so
*.o
*.out
*.exe

# Distribution / packaging
dist/
build/
*.egg-info/

# Editor specific files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints
